body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*overflow: hidden;*/
}

.sidebar {
    list-style-type: none;
    margin-left: -10px;
}

.sidebar li {
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar li a {
    color: whitesmoke;
}

.sidebar li a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.sidebarcontainer {
    height: 100vh;
    margin-left: -10px;
    border-right: 1px solid #5bc0de;
}

.sidebarmaincontainer {
    position: static;
    height: 100vh;
    margin-left: -10px;
}

.largecontainer {
    overflow-y: auto;
}

@media(min-width:790px) {
    #navbarthing {
        display: none;
    }
    .status {
        margin-top: -40px;
    }
}

@media(max-width:760px) {
    .sidebarmaincontainer {
        display: none;
    }
    .status {
        margin-left: 12px;
    }
}